body,html{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    background-image: url(All.jpg);
    width: 100vw;
    height:100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    transition: background-position-x 70s cubic-bezier(0.28, 0.14, 0.87,-0.02);
    font-family:monospace;
    letter-spacing: 0.4rem;

}
body:hover{
    background-position-x: 1000rem;
}
.projects{
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    backdrop-filter:blur(20px);
    width:50vw;
    height:fit-content;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    padding:3rem;
}
.projects::after{
    font-family: monospace; 
    font-style: italic;
    text-shadow: 1px 5px 4px rgb(100, 0, 0);
    color:rgb(222, 240, 255);
    font-weight: 900; 
    font-size: 1rem;
    content:"by SAAD AMIR";
    -webkit-font-smoothing: antialiased;
    transform: translate(19vw,3.5vh);

}

.projects > a{
    color:aliceblue;
    text-decoration: none;
    cursor:pointer;
}